<!DOCTYPE html>

<html>


    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <p>This site was created by komal soni. It uses data from  mapbox.com and geocode.com!</p>
            <img class="image" src="/img/download.png">  
        </div>

        {{>footer}}

    </body>


</html>